.header {
  background: white;
  box-shadow: 0 1px 5px 0 #bdbdbd;
  margin-bottom: 30px;
}

.header-logo {
  font-weight: 800;
  font-size: 26px;
  display: flex;
  align-items: center;
  gap: 0 10px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1000px) {
  .header-logo {
    font-size: 20px;
  }
}
